<div class="flex flex-col gap-4">
  <p-message *ngIf="enableWarning" severity="{{severity}}" icon="pi pi-times-circle" styleClass="mb-2" class="width-text-header-default">{{ formHeader }}</p-message>
  <div class="flex flex-col gap-1">
    <input (change)="listenInput(username)" #username name="username" placeholder="Username" aria-label="username" class="ng-invalid ng-dirty" />
    <p-message *ngIf="enableWarningUs" severity="{{severity}}" variant="simple" size="small" >Username is required</p-message>
  </div>
  <div class="flex flex-col gap-1">
    <input (change)="listenInput(email)" #email name="email" placeholder="Email" aria-label="email" class="ng-invalid ng-dirty" />
    <p-message *ngIf="enableWarningEm" severity="{{severity}}" variant="simple" size="small">Email is not valid</p-message>
  </div>

</div>
