<ng-container *ngIf="keyRenderTemplate==='user'" [ngTemplateOutlet]="templateUser"><!-- Template A Render here--></ng-container>
<ng-container *ngIf="keyRenderTemplate==='user-with-key-filter'" [ngTemplateOutlet]="templateUserKeyFilter"><!-- Template A Render here--></ng-container>
<ng-container *ngIf="keyRenderTemplate==='todo-with-key-filter'" [ngTemplateOutlet]="templateRobot"><!-- Template A Render here--></ng-container>

<ng-template #templateUser>
  <!-- Perfect -->
  <crud-user>
  </crud-user>
</ng-template>

<ng-template #templateUserKeyFilter>
  <crud-user-with-key-filter>
  </crud-user-with-key-filter>
</ng-template>

<ng-template #templateRobot>
  <crud-todo-fakeapi-with-key-filter>
  </crud-todo-fakeapi-with-key-filter>
</ng-template>


<!-- Test -->
<!--<dynamic-popup-toast
  [labelButton]="'Delete row'"
  [severityButton]="'danger'"
  [toastDynamicOptions]="toastDynamicOptions"
  (getToastDynamicStatus)="setToastDynamicStatus($event)">
</dynamic-popup-toast>


<dynamic-popup-p-dialog>
</dynamic-popup-p-dialog>-->
<apply-dynamic-popup>
</apply-dynamic-popup>


