<ng-container *ngIf="keyRenderTemplate==='user'" [ngTemplateOutlet]="templateUser"><!-- Template A Render here--></ng-container>
<ng-container *ngIf="keyRenderTemplate==='user-with-key-filter'" [ngTemplateOutlet]="templateUserKeyFilter"><!-- Template A Render here--></ng-container>
<ng-container *ngIf="keyRenderTemplate==='robot'" [ngTemplateOutlet]="templateRobot"><!-- Template A Render here--></ng-container>

<ng-template #templateUser>
  <!-- Perfect -->
  <crud-user>
  </crud-user>
</ng-template>

<ng-template #templateUserKeyFilter>
  <crud-user-with-key-filter>
  </crud-user-with-key-filter>
</ng-template>

<ng-template #templateRobot>
  Crud Robot
</ng-template>
