<!--
<div class="">
  <dynamic-form-group
    [formGroupTitle]="'Robot Form'"
    [enableInputText]="true"
    [enableInputNumber]="true"
    [enableInputDropdown]="true"
    [dynamicFieldsInputText]="robotFormGroupTextFields"
    [dynamicFieldsInputNumber]="robotFormGroupNumberFields"
    [dynamicFieldsInputDropdown]="robotFormGroupDropdownFields"
    (getFormGroup)="handleFormGroup($event)"> &lt;!&ndash; do like the event&ndash;&gt;
  </dynamic-form-group>

  <div *ngIf="isValidFormGroup"  class="w-fit w-28rem">
    <p-message severity="contrast">{{ resultRobotFormGroup }}</p-message>
  </div>
</div>
-->
