<form-a2
  [formTitle]="loginFormDynamic.formTitle"
  [field1]="loginFormDynamic.field1"
  [field2]="loginFormDynamic.field2"
></form-a2>

<form-a2
  [formTitle]="studentFormDynamic.formTitle"
  [field1]="studentFormDynamic.field1"
  [field2]="studentFormDynamic.field2"
></form-a2>


<form-b2
  [formTitle]="orderFormDynamic.formTitle"
  [data]="orderFormDynamic.data"
  [field1]="orderFormDynamic.field1"
  [field2]="orderFormDynamic.field2">
</form-b2>

<form-b2
  [formTitle]="serviceFormDynamic.formTitle"
  [data]="serviceFormDynamic.data"
  [field1]="serviceFormDynamic.field1"
  [field2]="serviceFormDynamic.field2">
</form-b2>
