<div [formGroup]="formGroup" class="card flex justify-center" [style]="{'padding':'10px' , 'max-width':'300px'}">

  <h3>{{ formTitle }}</h3>

  <!-- field 1 -->
  <p-inputgroup>
    <p-inputgroup-addon>
      <i [attr.class]="field1.icon"></i>
    </p-inputgroup-addon>
    <input pInputText [placeholder]="field1.placeHolder" [formControlName]="field1.name"  [attr.id]="field1.id" />
  </p-inputgroup>

  <br/>
  <!-- field 2 -->
  <p-inputgroup>
    <p-inputgroup-addon>
      <i [attr.class]="field2.icon"></i>
    </p-inputgroup-addon>
    <input type="email" pInputText [placeholder]="field2.placeHolder" [formControlName]="field2.name"  [attr.id]="field2.id" />
  </p-inputgroup>

  <div *ngIf="enableInputSalary">
    <br/>
    <p-inputgroup *ngIf="enableInputSalary">
      <p-inputgroup-addon>
        {{field3.icon}}
      </p-inputgroup-addon>
      <p-inputnumber [placeholder]="field3.placeHolder" [formControlName]="field3.name"  [attr.id]="field3.id"></p-inputnumber>
      <p-inputgroup-addon>.00</p-inputgroup-addon>
    </p-inputgroup>
  </div>

  <div *ngIf="enableInputAddress">
    <br/>
    <p-inputgroup >
      <p-inputgroup-addon>
        <i [attr.class]="field4.icon"></i>
      </p-inputgroup-addon>
      <input  pInputText  [placeholder]="field4.placeHolder" [formControlName]="field4.name"  [attr.id]="field4.id" />
    </p-inputgroup>
  </div>


  <div class="card flex justify-center gap-4" [style]="{'margin-top': '10px'}">
    <p-toast position="top-center"></p-toast>
    <p-button pRipple (onClick)="onSendClicked()" label="Send" icon=""/> <!-- [loading]="loading" (onClick)="load()"-->
  </div>



</div>
