<p-message styleClass="pMessage" severity="{{ serverity }}">{{ title }}</p-message>

<p-button label="send (title) value to parent component by @Output()" severity="info"
          (onClick)="changeTitle('Render from template-b2 and send values to parent component by @Output()')"
/>

<p-button label="send (serverity) value to parent component by @Output()" severity="success"
          (onClick)="changeSeverity('success')"
/>


<p-button label="send (default message template b) value to parent component by @Output()" severity="contrast"
          (onClick)="changeDefaultMessageTemplateB()"
/>

<p-button label="plus size todo value to parent component by @Output()" severity="danger"
          (onClick)="plusSize()"
/>

<p-button label="minus size todo value to parent component by @Output()" severity="danger"
          (onClick)="minusSize()"
/>

<div class="card" style="max-width: fit-content">
  <h3>Todo Table</h3>

  <p-table [value]="todos!" [tableStyle]="{ 'min-width': '50rem' }">
    <!-- set ag-template var buy pTemplate="header" or #header-->
    <ng-template pTemplate="header" >
      <tr >
        <th>ORDER</th>
        <th>USER ID</th>
        <th>TITLE</th>
        <th>COMPLETED</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-todo > <!-- why it knows  -->
      <tr>
        <td>
          {{ todo.id }}
        </td>
        <td >
          {{ todo.userId! }}
        </td>
        <td >
          {{ todo.title }}
        </td>
        <td >
          {{ todo.completed! }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<!--  userId: number;
  id: number;
  title: string;
  body: string;
  link: string;
  comment_count: number;-->
<div class="card" style="max-width: fit-content">
  <h3>Post Table</h3>
  <p-table [value]="posts!" [tableStyle]="{ 'min-width': '50rem' }">
    <!-- set ag-template var buy pTemplate="header" or #header-->
    <ng-template pTemplate="header" >
      <tr >
        <th>ORDER</th>
        <th>USER ID</th>
        <th>TITLE</th>
        <th>BODY</th>
        <th>LINK</th>
        <th>COMMENT COUNT</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post > <!-- why it knows  -->
      <tr>
        <td>
          {{ post.id }}
        </td>
        <td >
          {{ post.userId }}
        </td>
        <td >
          {{ post.title }}
        </td>
        <td >
          {{ post.body }}
        </td>
        <td >
          {{ post.link }}
        </td>
        <td >
          {{ post.comment_count }}
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
