<form [formGroup]="profileForm">
  <h2>Basic Form Group + validate (with p input icon)</h2>
  <div class="card flex justify-content-center">


    <div class="card flex flex-wrap justify-content-center gap-3">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-pencil" />
        <input type="text" pInputText placeholder="firstname..."  formControlName="firstName" />
      </p-iconField>
    </div>

    <br/>

    <div class="card flex flex-wrap justify-content-center gap-3">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-pencil" />
        <input type="text" pInputText placeholder="lastname..."  formControlName="lastName" />
      </p-iconField>
    </div>

    <br/>

    <div class="card flex justify-content-center">
      <p-checkbox
        formControlName="checked"
        [binary]="true"
        inputId="binary" />
      <label>Remember</label>
    </div>

    <br/>

    <div>
      Favorite Language (Without primeng)
      <br>
      <input type="radio" id="html" name="fav_language" value="Java" formControlName="fav_language">
      <label for="html">Java</label>
      <br>
      <input type="radio" id="css" name="fav_language" value="Kotlin" formControlName="fav_language">
      <label for="css">Kotlin</label><br>
    </div>

    <div class="card flex justify-content-center">
      Favorite Ingredient (With primeng) ** p radio-button
      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <p-radioButton
            formControlName="ingredient"
            name="ingredient"
            value="Cheese"></p-radioButton>
          <label  class="ml-2">
            Cheese
          </label>
        </div>

        <div class="flex align-items-center">
          <p-radioButton
            formControlName="ingredient"
            name="ingredient"
            value="Mushroom"></p-radioButton>
          <label  class="ml-2">
            Mushroom
          </label>
        </div>

      </div>
    </div>

    <br/>

    <div class="card flex justify-content-center">
      <p-floatLabel>
        <textarea
          id="float-input"
          rows="5"
          cols="30"
          formControlName="comment"
          pInputTextarea>
        </textarea>
        <label for="float-input">Comment</label>
      </p-floatLabel>
    </div>

    <br/>

    <div >
      <label for="salary">Salary </label>
      <p-inputNumber
        formControlName="salary"
        id="salary"/>

      <!-- decimal -->
      <label for="weight">Weight </label>
      <p-inputNumber
        id="weight"
        formControlName="weight"
        inputId="minmaxfraction"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="5" />
    </div>

    <div>
      <p-inputSwitch formControlName="enable" />
    </div>

    <div>
      <span class="font-bold block mb-2">Phone Number</span>
      <p-inputMask
        formControlName="phoneNumber"
        mask="09-999-9999"
        placeholder="09-999-9999">
      </p-inputMask>
    </div>


    <br/>
    <div class="card flex justify-content-center">
      <!-- [options]="<data for display>"
           country will have value if user clicked option
      -->
      <p-dropdown
        formControlName="country"
        [options]="countries"
        optionLabel="name"
        placeholder="Select a country" />

    </div>


    <br/>


    <button (click)="onSubmit()">Submit</button>

  </div>

</form>
