<!--
    ## <ng-template> element defines a template that is not rendered by default.
    One of the main uses for <ng-template> is to hold template content that will be used by Structural directives.
    Those directives can add and remove copies of the template content based on their own logic.
    ** Use Cases of Ng-template
    Reusable components
    Conditional rendering
    Dynamic content
    Customizing Components
    ##
    ng-template is always used along with structural derivatives such as ngIf, nfFor, and ngSwitch.
    It is used for grouping content that is not rendered, but that can be used in other parts of your code.
-->
<div>
  <h1>Section 1</h1>
  <p>Hip!</p>
  <ng-template>
    <p>Hip! In Ng Template</p>
  </ng-template>
  <p>Hooray!</p>
</div>



<div>
  <h1>Section 2 using ng-template with [ngIf]</h1>
  <div class="" *ngIf="textEnable"> Hello world </div>
  <ng-template [ngIf]="textEnable">
    <p>Hello world by tag p in ng-template</p>
  </ng-template>
</div>



<div>
  <h1>Section 3 using ng-template with [ngIf] , render subcomponent</h1>

  <ng-template [ngIf]="templateAEnable">
    <div>
      <template-a>
      </template-a>
    </div>
  </ng-template>

  <ng-template [ngIf]="templateBEnable">
    <h1>render subcomponent and ** bind the child component</h1>
    <div>
      <!-- The next step is to bind @Input() the property in the parent component's template. -->
      <template-b
       [title]="title"
       [subTitle]="subTitle"
       [enableCard]="true"
       >
      </template-b>
    </div>
  </ng-template>

</div>

<div>
  <h1>Section 4 using ng-template with [ngSwitch]</h1>

  <h2>Status: {{ status }}</h2>

  <!-- all html tags use *ngSwitchCase  -->
  <div [ngSwitch]="status">
    <div *ngSwitchCase="'approved'">The request has been approved!</div>
    <div *ngSwitchCase="'pending'">The request is still pending.</div>
    <div *ngSwitchCase="'rejected'">The request has been rejected.</div>
    <div *ngSwitchDefault>Please select a status.</div>
  </div>

  <!-- all ng-template tag use [ngSwitchCase]  -->
  <div [ngSwitch]="status">
    <ng-template [ngSwitchCase]="'approved'">
      <p>The request has been approved! (from ng-template)</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'pending'">
      <p>The request is still pending. (from ng-template)</p>
    </ng-template>
    <ng-template [ngSwitchCase]="'rejected'">
      <p>The request has been rejected. (from ng-template)</p>
    </ng-template>
    <ng-template [ngSwitchDefault]>
      <p>Please select a status. (from ng-template)</p>
    </ng-template>
  </div>


  <p-button label="Approved" severity="danger" (onClick)="changeStatus('approved')" />
  <p-button label="Padding" severity="contrast" (onClick)="changeStatus('pending')" />
  <p-button label="Rejected" severity="success" (onClick)="changeStatus('rejected')" />

</div>


<div>
  <!-- In the template, you use the hash symbol, #, to declare a template variable. -->
  <h1>Section 5 using ng-template and use the hash symbol # to declare a template variable.</h1>
  <!--
   <p-iftalabel>
    <input #username id="username"  autocomplete="off" />
    <label for="username">Username</label>
  </p-iftalabel>
  -->

  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <!-- hash symbol use to get get value of tag as name,tag,value -->
    <input #key placeholder="Key..." />
  </p-inputgroup>

  <!-- hash symbol use to *ngIf="" -->
  <ng-template #loading>
    <!-- if lessons is false-->
    <div>Loading...</div>
  </ng-template>

  <p-button label="Send key" severity="success" (onClick)="logData(key.value)" />

  <div class="lessons-list" *ngIf="lessons else loading">
    <!-- if lessons is true -->
    'open' == render template-c
    <template-c
      [enableWarning]="true"
      [severity]="'error'">
    </template-c>
  </div>

</div>
