<!-- [loading]="true" add loading icon to table -->
<div class="card flex justify-center align-center gap-4">
  <p-message severity="info">
    <ng-template *ngIf="true" #icon>
      <p-avatar [image]="imageUrl" shape="circle"/>
    </ng-template>
    <span class="ml-2">{{ title }}</span>
  </p-message>
</div>
<p-treeTable #treeTable
             *ngIf="enable"
             [columns]="columns"
             [value]="data"
             [loading]="loading"
             [paginator]="false"
             [rows]="0"
             [style]="style"
             [scrollHeight]="'300px'"
>
  <!-- header -->
  <ng-template pTemplate="header" let-columns>
    <ng-container *ngIf="columns">
      <tr>
        <!-- *** [attr.colspan] , [attr.rowspan] are same thing you set colspan,rowspan on tag -->
        <th
          *ngFor="let col of columns"> <!-- [ttSortableColumn]="col.field" --> <!-- action sorting-->
          {{ col.header }}
          <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>--> <!-- icon of action sorting -->
        </th>
      </tr>
    </ng-container>
  </ng-template>
  <!-- header -->
  <!-- body-->
  <!-- all the vars it's default no need to modify if you wanna change do in on ts. file  -->
  <ng-template  pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <ng-container >
      <tr>
        <td *ngFor="let col of columns; let i = index">
          <!--
        <p-treeTableToggler (click)="listenToggler(rowNode)" [rowNode]="rowNode" *ngIf="i === 5" >
               work as toggle icon
               so *ngIf="i === 5" means adding toggle to colum 5
        </p-treeTableToggler>
          -->
          {{ rowData[col.field] }}

          <ng-container *ngIf="col.field === 'action'">
            <!-- if current colum.filed is 'action' key add this container -->
            <p-button icon="pi pi-wrench" rounded="false" severity="warn"
                      [style]="{ 'margin-right': '.5em' }"
                      (click)="listenEditMode(rowData)"
            />
            <p-button icon="pi pi-minus" rounded="false" severity="danger"
                      (click)="listenRemoveMode(rowData)"
            />
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </ng-template>
  <!-- body-->
</p-treeTable>

