<!--<div class="">
  <dynamic-form-group
    [formGroupTitle]="'User Form'"
    [enableInputText]="true"
    [enableInputNumber]="true"
    [enableInputDropdown]="true"
    [dynamicFieldsInputText]="userFormGroupTextFields"
    [dynamicFieldsInputNumber]="userFormGroupNumberFields"
    [dynamicFieldsInputDropdown]="userFormGroupDropdownFields"
    (getFormGroup)="handleFormGroup($event)"> &lt;!&ndash; do like the event&ndash;&gt;
  </dynamic-form-group>

  <div *ngIf="isValidFormGroup"  class="w-fit w-28rem">
    <p-message severity="contrast">{{ resultUserFormGroup }}</p-message>
  </div>
</div>-->
