<!--<form [formGroup]="formGroup" (ngSubmit)="doLogin()" class="card flex flex-wrap gap-4 p-3">
  <div class="flex-none">
    <label for="blockspace" class="font-bold block mb-2"> Username </label>
    <input pInputText id="blockspace" pKeyFilter="alpha" class="w-15rem" [formControlName]="'username'"/>
  </div>
  <div class="flex-none">
    <label class="font-bold block mb-2"> Password </label>
    <p-password [feedback]="false" [formControlName]="'password'" />
  </div>
  <div class="flex-auto">
    <div class="font-bold block mt-4 mb-2">
      <p-button type="submit" label="Login" severity="secondary"/>
    </div>
  </div>
</form>-->

<dynamic-popup-p-dialog-and-key-filter-for-main-router
  [closeable]="true"
  [draggable]="false"
  [visible]="false"
  [label]="'Login'"
  [header]="headerFormGroup"
  [formGroup]="formGroup"
  [dynamicInputTextFields]="dynamicInputTextFields"
  (getFormGroup)="setFormGroup($event)"
  (getOnSave)="setOnSave()">

</dynamic-popup-p-dialog-and-key-filter-for-main-router>


