<!--

-->
<div>

  <!-- for change templates -->
  <div class="card flex justify-center">
    <div class="flex flex-wrap gap-4">

      <div class="flex items-center">
        <!-- ** [(ngModel)]="template" will be relative on value tag -->
        <p-radio-button class="{{this.switchTemplate ? 'p-radiobutton-checked' : ' ' }}" (change)="listenTemplate()" name="template-a" value="template-a" [(ngModel)]="template"></p-radio-button>
        <label class="ml-2">Template A</label>
        <p-radio-button class="{{this.switchTemplate ? ' ' : 'p-radiobutton-checked' }}" (change)="listenTemplate()" name="template-b" value="template-b" [(ngModel)]="template"></p-radio-button>
        <label class="ml-2">Template B</label>
        <p-checkbox (change)="listenTemplateB2()" value="template-b2" [(ngModel)]="templateB2" />
        <label class="ml-2">Template B2</label>
      </div>
    </div>
  </div>

</div>


<div>
  <!-- *ngIf="" not same [ngIf]="" -->
  <ng-template [ngIf]="switchTemplate" [ngIfElse]="templateB">
    <div>
      <h1>Test Section 1 Login Template A</h1>
    </div>
    <ng-container *ngIf="months && switchTemplate"><!-- *ngIf="months !== null" or *ngIf="months" it's same for checking null -->
      <!--
      ***
      ng-container is an extremely simple directive that allows you to group elements in a template
      that doesn’t interfere with styles or layout because Angular doesn’t put it in the DOM
      this is helpful if you don’t want any extra div on DOM, you can simply use ng-container.
      for eg: If there are two structural directives (*ngIf,*ngFor at the same tag) being called on one div as below:
      ***
      -->
      <!--
      *** you'll get error
      <div *ngIf="months" *ngFor="let month of months"></div>
      *** one workaround would be to separate
      As we can see, the ng-container directive provides us
      with an element that we can attach a structural directive
      to a section of the page, without having to create an extra element just for that.
      *** ng-container->ng-container->ng-container->...->ng-container
      -->
      <ng-container *ngFor="let month of months; ">

        <p-message closable severity="success"> {{ month }}</p-message>

        <ng-container *ngFor="let i of [1,2]">

          <p-message closable severity="info"> {{ i }}</p-message>

        </ng-container>

      </ng-container>


    </ng-container>

  </ng-template>
  <!-- -->



  <ng-template #templateB>

    <div>
      <h1>Test Section 1 Login Template B</h1>
    </div>


    <div class="card">
      <div class="card flex justify-center">
        <p-checkbox (click)="switchActivity()" [(ngModel)]="active" [binary]="true" /> <!-- [binary]="true" is meaning 0 , 1 -->
        <label class="ml-2">Active</label>
      </div>

      <p-table [value]="files" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
        <ng-template #header>
          <tr>
            <th>Name</th>
            <th>Size (MB)</th>
            <th>Type</th>
            <th>Active</th>
          </tr>
        </ng-template>

        <ng-template #body let-file >
          <!--
            ng-template can't have sub ng-template
            use ng-container instead
          -->
          <!--
          -->
          <ng-container *ngIf="file.active && active" >
            <tr>
              <td>{{ file.name }}</td>
              <td>{{ file.size }}</td>
              <td>{{ file.type }}</td>
              <td>
                <p-tag [value]="file.active" [severity]="getServerity()" />
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!file.active && !active" >
            <tr>
              <td>{{ file.name }}</td>
              <td>{{ file.size }}</td>
              <td>{{ file.type }}</td>
              <td>
                <p-tag [value]="file.active" [severity]="getServerity()" />
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </p-table>

    </div>


    <div>
      <h1>Test Section 2 work with p-treeTable</h1>
    </div>

    <div>
      <!-- for change templates -->
      <div class="card flex justify-center">
        <div class="flex flex-wrap gap-4">

          <div class="flex items-center">
            <!-- ** [(ngModel)]="template" will be relative on value tag -->
            <p-radio-button (change)="listenTableAndCustomHeaderCols()" name="p-table-tree-user" value="p-table-tree-user" [(ngModel)]="table" ></p-radio-button>
            <label class="ml-2">P Tree Table User</label>
            <p-radio-button (change)="listenTableAndCustomHeaderCols()" name="p-table-tree-employee" value="p-table-tree-employee" [(ngModel)]="table" ></p-radio-button>
            <label class="ml-2">P Tree Table Employee</label>
          </div>
        </div>
      </div>
    </div>


    <!--
        [columns]="cols" for header
        [value]="tableData" for body
        // ** for set paginator table
        [paginator]="true"
        [rows]="3"
        // ** for set paginator table
    -->
    <h2>{{title}}</h2>

    <p-treeTable #treeTable
                 *ngIf="table === 'p-table-tree-user'"
                 [columns]="cols"
                 [value]="tableData"
                 [paginator]="false"
                 [rows]="0"
                 [tableStyle]="{'min-width': '450px','width' : 'auto'}"
                 >
      <!-- header -->
      <ng-template pTemplate="header" let-columns>
        <ng-container *ngIf="cols">
          <tr>
            <!-- *** [attr.colspan] , [attr.rowspan] are same thing you set colspan,rowspan on tag -->
            <th
              [attr.colspan]="2"
              [attr.rowspan]="0"
              *ngFor="let col of columns"> <!-- [ttSortableColumn]="col.field" --> <!-- action sorting-->
              {{ col.header }}
              <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>--> <!-- icon of action sorting -->
            </th>
          </tr>
        </ng-container>
      </ng-template>
      <!-- header -->
      <!-- body-->
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <ng-container>
          <tr>
            <td  [attr.colspan]="2"
                 *ngFor="let col of columns; let i = index">
              <p-treeTableToggler
                [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-container>
      </ng-template>
      <!-- body-->
    </p-treeTable>

    <p-treeTable #treeTable
                 *ngIf="table === 'p-table-tree-employee'"
                 [columns]="cols"
                 [value]="tableData"
                 [paginator]="true"
                 [rows]="2"
    >
      <!-- header -->
      <ng-template pTemplate="header" let-columns>
        <ng-container *ngIf="cols">
          <tr>
            <!-- *** [attr.colspan] , [attr.rowspan] are same thing you set colspan,rowspan on tag -->
            <th
              *ngFor="let col of columns"> <!-- [ttSortableColumn]="col.field" --> <!-- action sorting-->
              {{ col.header }}
              <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>--> <!-- icon of action sorting -->
            </th>
          </tr>
        </ng-container>
      </ng-template>
      <!-- header -->
      <!-- body-->
      <!-- all the vars it's default no need to modify if you wanna change do in on ts. file  -->
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <ng-container>
          <tr>
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler (click)="listenToggler(rowNode)" [rowNode]="rowNode" *ngIf="i === 5" >
                <!--
                     work as toggle icon
                     so *ngIf="i === 5" means adding toggle to colum 5
                -->
              </p-treeTableToggler>
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-container>
      </ng-template>
      <!-- body-->
    </p-treeTable>

  </ng-template>





  <ng-template [ngIf]="switchTemplateB2">

    <div>
      <h1>Test Section 1.2 work with p-treeTable (Dynamic)</h1>
    </div>

    <p-checkbox (change)="listenTableB2Dynamic()" name="table-b2" value="table-b2" [(ngModel)]="tableB2" />
    <label class="ml-2">{{titleB2}}</label>

    <p-treeTable #treeTable
                 [columns]="colsB2"
                 [value]="tableDataB2"
                 [paginator]="false"
                 [rows]="0"
    >
      <!-- header -->
      <ng-template pTemplate="header" let-columns>
        <ng-container *ngIf="colsB2">
          <tr>
            <!-- *** [attr.colspan] , [attr.rowspan] are same thing you set colspan,rowspan on tag -->
            <th
              *ngFor="let col of columns"> <!-- [ttSortableColumn]="col.field" --> <!-- action sorting-->
              {{ col.header }}
              <!--<p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>--> <!-- icon of action sorting -->
            </th>
          </tr>
        </ng-container>
      </ng-template>
      <!-- header -->
      <!-- body-->
      <!-- all the vars it's default no need to modify if you wanna change do in on ts. file  -->
      <ng-template pTemplate="body" let-rowData="rowData" let-columns="columns">
        <ng-container>
          <tr>
            <td *ngFor="let col of columns; let i = index">
              <!--
              can cut this if you don't have children on tree node
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
              -->
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-container>
      </ng-template>
      <!-- body-->

    </p-treeTable>


    <div>
      <h1>Test Section 1.2 work with ngTemplateOutlet</h1>
    </div>


    <!--
         To insert a template, the ngTemplateOutlet directive is used,
         which takes the TemplateRef type as a parameter.
    -->
    <ng-container *ngTemplateOutlet="greet">
      <!-- template render here -->
    </ng-container>

    <ng-container [ngTemplateOutlet]="greet1" [ngTemplateOutletContext]="myContext"> <!-- ** same *ngTemplateOutlet="greet1; context : myContext" -->
      <!-- template render here -->
    </ng-container>

    <ng-container *ngTemplateOutlet="greet2; context : myContext"> <!-- mapped content to myContext object -->
      <!-- template render here -->
    </ng-container>
    <ng-container *ngTemplateOutlet="greet3; context: myContext">
      <!-- template render here -->
    </ng-container>
    <!-- *** -->
    <ng-container *ngTemplateOutlet="greet4; context: myContext">
      <!-- template render here -->
    </ng-container>

    <ng-container [ngTemplateOutlet]="greet5" [ngTemplateOutletContext]="myContext">
      <!-- template render here -->
    </ng-container>

    <div>
      <ng-container [ngTemplateOutlet]="greet6">
        <!-- template render here -->
      </ng-container>
    </div>

    <div>
      <ng-container [ngTemplateOutlet]="greet7" [ngTemplateOutletContext]="myContext">
        <!-- template render here -->
      </ng-container>
    </div>

    <ng-template #greet>
      <p-message closable severity="info">hello</p-message>
    </ng-template>

    <ng-template #greet1 let-whatEver> <!-- iby default mapped $implicit if you don't specify -->
      <p-message closable severity="warn">hello {{ whatEver }}!</p-message>
    </ng-template>

    <ng-template #greet2 let-data="message1"> <!-- get myContext key by let-data="<key>" -->
      <p-message closable severity="success">hello {{ data }}!</p-message>
    </ng-template>

    <ng-template #greet3 let-data="message2">
      <p-message closable severity="contrast">hello {{ data }}!</p-message>
    </ng-template>

    <ng-template #greet4 let-data="student" > <!-- data mapped key student as Student class -->
      <p-message closable severity="secondary">
        {{data.id}}
        <br/>
        {{data.name}}
        <br/>
        {{data.email}}
        <br/>
      </p-message>
    </ng-template>


    <ng-template #greet5 let-data="students" > <!-- data mapped key students as array students  -->
      <p-message *ngFor="let student of data" closable severity="error">
        {{student.id}}
        <br/>
        {{student.name}}
        <br/>
        {{student.email}}
        <br/>
      </p-message>
    </ng-template>


    <ng-template #greet6>
      <p-message closable severity="success">Hello World!</p-message>
    </ng-template>


    <ng-template #greet7 let-data="message1">
      <p-message closable severity="info"> {{data}}</p-message>
      <p-button severity="info" (click)="myContext.alertMessage(data)">alert</p-button>
    </ng-template>


  </ng-template>


</div>
