<p>apply-dynamic-popup works!</p>
<dynamic-popup-p-dialog
 [visible]="visibleConfirm"
 [dialogDynamicOption]="dialogDynamicOptionConfirm">
</dynamic-popup-p-dialog>

<dynamic-popup-p-dialog
  [visible]="visibleWarning"
  [dialogDynamicOption]="dialogDynamicOptionWarning">
</dynamic-popup-p-dialog>

<dynamic-popup-p-dialog
  [visible]="visibleError"
  [dialogDynamicOption]="dialogDynamicOptionError">
</dynamic-popup-p-dialog>
<!--
  if you don't want to import a tag
  you can use <div [name selector]> </div>
  dynamic-popup-p-dialog map [dynamic-popup-p-dialog] at selector on DynamicPopupWithPDailogComponent
-->
<!-- for extends -->
<div
  dynamic-popup-p-dialog
  [visible]="visibleForExtendA"
  [dialogDynamicOption]="dialogDynamicOptionForExtendA"
  (getOnCancel)="setOnCancelA()"
  (getOnOk)="setOnOkA()">
</div>

<div
  dynamic-popup-p-dialog
  [visible]="visibleForExtendB"
  [dialogDynamicOption]="dialogDynamicOptionForExtendB"
  (getOnCancel)="setOnCancelB()"
  (getOnOk)="setOnOkB()">
</div>


<dynamic-popup-p-dialog-and-key-filter
  [header]="'Test FormGroup on popup'"
  [label]="'Show'"
  [closeable]="true"
  [dynamicInputTextFields]="dynamicInputTextFields"
  [formGroup]="formGroupInputText"
  [visible]="true"
  (getOnSave)="setOnSave()"
  (getOnCancel)="setOnClose()"
  (getFormGroup)="setFormGroup($event)"
  >
</dynamic-popup-p-dialog-and-key-filter>
